.form__button {
    width: 238px;
    height: 46px;
    font-style: normal;
    font-weight: normal;
    background: #FFFFFF;
    border-radius: 2px;
    border: none;
    font-size: 14px;
    line-height: 1.2;
    text-align: center;
    color: #000000;
    margin-top: 199px;
}

.form__button:hover {
    opacity: 0.8;
    cursor: pointer;
}

@media screen and (min-width: 1024px) {
    .form__button {
        width: 358px;
        height: 50px;
        font-size: 18px;
        line-height: 1.22;
    }
}